*{
    font-family: "Champions" !important;
}
.metric{
    color: #fff;
}

.metric.points.highlighted,
.rank,
.title .name{
    color: #73FDEA !important;
}

.title .name{
    color: #73FDEA !important;
    font-family: "Champions Web" !important;  
}

.title,
.title *,
.latest-title,
.result{
    font-family: "Champions" !important;   
}

footer .clock *{
    font-family: "Champions Web" !important;   
}
